body{
    margin: 0;
    background-color: coral;
}
#container {
    background-color: yellowgreen;
    width: 80%;
    margin: 5px auto;
    height: 650px;
}
#header{
    width: 100%;
    background-color: aquamarine;
    height: 30px;
    margin-bottom: 3px;
}
#link {
    height: 25px;
    background-color: deeppink;
    border-bottom: 3px;
}
#content {
    width: 100%;
    height: 500px;
    background-color: bisque;
}
#footer {
    width:100%;
    height: 50px;
    background-color: rgb(163, 73, 73);
}